@font-face {
    font-family: 'maplestory';
    src: url('./font/Maplestory\ Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} 
body{
    font-family: 'maplestory';
    max-width: 768px;
    margin: auto;
}
select option[value=""][disabled] {
	display: none;
}
.watermark{
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ced4da;
}
.aing{
    background: url(./favicon.ico) no-repeat center;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-bottom: 0.5rem;
    opacity: 0.3;
}
#dist, #me{
    width:100%;
    display: flex;
    flex-direction: column;
    padding:25px
}
.float-left{
    float:left;
}
.section_2line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-input{
    width: 45%;
    margin-bottom: 10px;
}
.underline{
    margin: 25px 0 40px 0;
    background: gray;
    height: 1px;
}
.section_small{
    font-size: 0.875rem;
}
.bossItem{
    width: 100%;
    background: #f1f1f1;
}
.icon{
    background-size: contain !important;
}
.icon.icon_1{
    background-size: auto 28px !important;
    height:32px;
}
.icon_2{
    width: 28px;
    height: 28px;
}
.row{
    --bs-gutter-x: 0;
}
.col{
    border: 1px solid gray;
}
.last{
    border-bottom: 2px solid black;
}
.unit{
    color: #dc3545;
    font-size: .8rem;
}
.num{
    display: flex;
    justify-content: center;
}

.num div{
    width: 100%
}
.num div:nth-child(1){
    border-right: 1px solid black;
}
.num div:nth-child(2){
    background: white;
}
.num div:nth-child(3){
    border-left: 1px solid black;
}
.exist{
    background: #cafaca;
}
.eq-name{
    width:50%;
    float: left;
    position:relative;
    margin: 15px 0 15px 0;
}
.eq-name-input{
    border: none;
    font-size: 1rem !important;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 0 24px 0px 4px;
}
.eq-name-input:focus-visible{
    outline: none;
}
.eq-edit{
    position: absolute;
    height: 27px;
    right: 5px;
    line-height: 27px;
}
.eq-item div select{
    width: 30% !important;
}
.eq-item div select, .eq-item div input{
    font-size: 0.875rem;
}
.eq-price{
    width: 40% !important;
}
.eq-num{
    width: 15% !important;
}
.float-right{
    float: right;

}
.select-label{
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0.5rem;
}
.total-box{
    width:100%;
    display: flex;
    font-size: 0.875rem;
}
.total-box div:nth-child(1){
    width: 35%;
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: 5px;
}
.total-box.exist div:nth-child(1) {
    background: #2a955a;
    color: white;
    border: 1px solid black;
    font-weight: 600;
}
.total-box div:nth-child(2){
    padding: 5px 15px 5px 15px;
    width: 65%;
    border: 1px solid #ced4da;
}
.total-box.real-total{
    border: 3px solid;
    font-weight: 600;
}