#dist{
    width:100%;
    display: flex;
    flex-direction: column;
    padding:25px
}
.section_2line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-input{
    width: 45%;
    margin-bottom: 10px;
}
.underline{
    margin: 25px 0 40px 0;
    background: gray;
    height: 1px;
}
.section_small{
    font-size: 0.875rem;
}
.bossItem{
    width: 100%;
    background: #f1f1f1;
}
.row{
    --bs-gutter-x: 0;
}
.col{
    border: 1px solid gray;
}
.last{
    border-bottom: 2px solid black;
}
.unit{
    color: #dc3545;
    font-size: .8rem;
}
.num{
    display: flex;
    justify-content: center;
}

.num div{
    width: 100%
}
.num div:nth-child(1){
    border-right: 1px solid black;
}
.num div:nth-child(2){
    background: white;
}
.num div:nth-child(3){
    border-left: 1px solid black;
}
.exist{
    background: #cafaca;
}
.eq-item div select{
    width: 30% !important;
}
.eq-item div select, .eq-item div input{
    font-size: 0.875rem;
}
.eq-price{
    width: 40% !important;
}
.eq-num{
    width: 15% !important;
}
.total-box{
    width:100%;
    display: flex;
    font-size: 0.875rem;
}
.total-box div:nth-child(1){
    width: 35%;
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: 5px;
}
.total-box.exist div:nth-child(1) {
    background: #2a955a;
    color: white;
    border: 1px solid black;
    font-weight: 600;
}
.total-box div:nth-child(2){
    padding: 5px 15px 5px 15px;
    width: 65%;
    border: 1px solid #ced4da;
}
.total-box.real-total{
    border: 3px solid;
    font-weight: 600;
}