@font-face {
    font-family: 'maplestory';
    src: url('./font/Maplestory\ Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} 
body{
    font-family: 'maplestory';
    max-width: 768px;
    margin: auto;
    background-color: #e7e7e7;
    padding: 10px;
}
select option[value=""][disabled] {
	display: none;
}
.head{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.author{
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 70px;
}
.modal-body{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    flex-direction: column;
}
.desc{
    border: none !important;
    outline: none !important;
    width: 90%;
    height: 80vh;
    resize: none;
}
.btn-info{
    color: white !important;
}
.watermark{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ced4da;
}
.aing{
    background: url(./favicon.ico) no-repeat center;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-bottom: 0.5rem;
    opacity: 0.3;
}
#dist, #me{
    width:100%;
    display: flex;
    flex-direction: column;
    padding:25px;
    background: #fcfcfc;
    border-radius: 10px;
}
.float-left{
    float:left;
}
.section_2line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-input{
    width: 45%;
    margin-bottom: 10px;
}
.underline{
    margin: 25px 0 40px 0;
    background: gray;
    height: 1px;
}
.section_xs{
    font-size: 0.5rem;
}
.section_xxs{
    font-size: 0.4rem;
}
.section_small{
    font-size: 0.875rem;
}
.section_small.section_small_important{
    font-size: 0.875rem !important;
}
.section_normal{
    font-size: 1rem;
}
.tag{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.tag-left{
    display: flex;
    flex-direction: column;
}
.form-control:disabled, .form-control[readonly] {
    background-color: inherit !important;
}
.people{
    display: flex;
    border: 1px solid #ced4da;
    margin-left: 10px;
    border-radius: 13px;
}
.people div{
    padding: 2px 7px
}
.people div:nth-child(2){
    width: 23px;
    text-align: center;
}
.rate-tag{
    width: 40%;
    justify-content: center;
}
.add-btn{
    background: #ced4da;
    color: white;
}
.add-btn:hover{
    color: white;
}
.add-btn:focus{
    color: white;
    box-shadow: none;
    background: #b3b9c0;
}
.addBoss-list{
    max-height: 50vh;
    overflow: scroll;
}
.bossItem{
    width: 100%;
}
.item{
    width:25%;
    display: inline-block;
    background: #f1f1f1;
}
.icon{
    background-size: contain !important;
}
.icon.icon_1{
    background-size: auto 28px !important;
    height:32px;
    border: 1px solid gray;
}
.icon_2{
    width: 28px;
    height: 28px;
}
.row{
    --bs-gutter-x: 0;
}

.last{
    border-bottom: 2px solid black;
}
.unit{
    color: #dc3545;
    font-size: .8rem;
    float: left;
    margin-left: 0.75rem;
}
.num{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}

.num div{
    width: 100%
}
.num div:nth-child(1){
    border-right: 1px solid black;
}
.num div:nth-child(2){
    background: white;
}
.num div:nth-child(3){
    border-left: 1px solid black;
}
.exist{
    background: #cafaca;
}
.eq-tag{
    width:100%;
    margin: 15px 0 15px 0;
}
.name{
    position:relative;
    width: 50%;
}
.name.name-sm{
    width: 20%;
}
.name-input{
    border: none;
    font-size: 1rem !important;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-right: 25px !important; 
    border-radius: unset;
}
.name-input:focus{
    box-shadow: none;
}
.name-input:focus-visible{
    outline: none;
}
.name-edit{
    position: absolute;
    height: 27px;
    right: 5px;
    line-height: 27px;
}
.name-edit-lg{
    position: absolute;
    bottom: 0.625rem;
    right: 5px;
}
.name-edit-mlg{
    position: absolute;
    bottom: 0.375rem;
    right: 5px;
}
.input-lg{
    padding-top: 1.625rem;
}
.input-mlg{
    padding-top: 0.375rem;
}
.remove-circle{
    padding: 0;
    width: 25px !important;
    height: 25px;
    border-radius: 20px;
}
.eq-item div select:nth-child(1){
    width: 50% !important;
    border-radius: 0.25rem 0 0 0;
}
.eq-item div select, .eq-item div input{
    font-size: 0.875rem;
}
.eq-price{
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
}
.eq-fee{
    width: 25% !important;
}
.eq-num{
    width: 25% !important;
    border-radius: 0 0.25rem 0 0;
}
.float-right{
    float: right;

}
.radio-label{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.radio-label input{
    margin-left: 3px;
}
.select-label{
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0.5rem;
}
.total-unit.rate{
    border: 2px solid #171741;
    border-radius: 2px;
}
.total-box{
    width:100%;
    display: flex;
    font-size: 0.875rem;
}

.total-box > div:nth-child(1){
    width: 35%;
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: 5px;
    font-size: 1rem;
}
.total-box.exist > div:nth-child(1) {
    background: #51c686;
    color: white;
    border: 1px solid black;
    font-weight: 600;
}
.total-box > div:nth-child(2){
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 65%;
    border: 1px solid #ced4da;
    justify-content: space-between;
}
.rate-box{
    font-size: 0.75rem !important;
}
.total-box.rate-box > div:nth-child(1){
    font-size: 0.75rem;
}
.rate-box > label{
    padding: 5px;
    width: 20%;
    border: 1px solid #ced4da;
}
.danger > label{
    background-color: antiquewhite !important;
}
.rate-box > div:nth-child(1){
    background-color: #ced4da;
    border: 1px solid #b6bcc1;
}
.rate-box > label > div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.rate-box > label input{
    outline: none;
    border: none;
    width: 70%;
    text-align: center;
}
.danger > label input{
    background-color: antiquewhite !important;
}
.rate-box.exist > label input{
    background: #cafaca;
}
.rate-box > label > div > div:nth-child(2){
    width: 30%;
    text-align: right;
}
.rate-box > div:nth-child(3){
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 45%;
    border: 1px solid #ced4da;
    justify-content: space-between;
}
.total-box.real-total{
    border: 3px solid;
    border-radius: 0 0 3px 3px;
    font-weight: 600;
}
.footer{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar{
    border: 2px solid;
    width: 2rem;
    border-radius: 2px;
}
.footer span{
    font-size: 2rem;
}
.toastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    position: fixed;
    top: -150px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    z-index: 9999;
  }
  .toastify.on { opacity: 1; }